  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="../public/css/style.css"/>
</head>
  
  <div class="card text-center">
  <div class="card-body">
    <p class="card-title">Our Mission Statement</p>
    
      <h1><a class="brand-logo" href="#">
          <img src="./assets/gourmetguidance.png">
        </a></h1>

    <p class="card-text">Welcome to Gourment Guidance!</p>
    <p class="statement">We make it quick and simple to search up an ingredient and find a recipe as well as look at famous menus.
      Give us a try by making an account to search up anything you can think of. We've got you covered.
    </p>
    <a href="/signup" id="btn">Start your Journey</a>
  </div>
</div>