  <!DOCTYPE html>
<html lang="en">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<input id="search">
<button id="button">Search</button>
<div id="output"></div>
<a href="" id="sourceLink"></a>
<script src="../public/js/api.js">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="../public/css/style.css"/>
</head>
  
  <div class="card text-center">
  <div class="card-body">
    <p class="card-title">Search for a random recipe here!</p>
    <image class="image" id="image" href=""></image>
    <p class='return' id="'return">Replace text</p>
    <button class="card-text" id="button">Search.</button>
  </div>
</div>