<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="../public/css/style.css"/>
</head>

<main class="signup">
<div id="signupHidden">
<h2>Sign Up</h2>

<form class="form signup-form" id="loginSignUpForms">
  <div class="mb-3">
    <label for="name-signup" class="form-label">Username:</label>
    <input class="form-control" type="text" id="username-signup" aria-describedby="nameSignUpHelp">
    <div id="nameSignUpHelp" class="form-text">Please enter your username</div>
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password:</label>
    <input class="form-control" type="password" id="password-signup" aria-describedby="passwordSignUpHelp">
    <div id="passwordSignUpHelp" class="form-text">Please enter a password between above 8 characters</div>
  </div>
    <button class="btn btn-primary" id="signupBtn" type="submit">Sign Up</button>
    <span id="login-prompt">Already have an account? <a href="/login" id="login-promptBtn">Login Here</a></span>
</form>
</div>
</main>

<script src="/js/signUp.js"></script>