:root {
    --primary: #389393;
    --secondary: #f5a25d;
    --tertiary: #fa7f72;
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
body {
  background-image: url("hermes-rivera-OzBLe_Eg1mg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
  
