:root {
  --a: #293040;
  --b: #C5bbad;
  --c: #e7e2da;
  --d: #ffffff;
  --e: #e7e8e7;
  }

.brand-logo img {
  width: 50px;
  height: auto; 
  margin-right: 10px; 
}

.navbar {
  background-color: #293040;
  margin-bottom: 80px;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-wrapper {
  background-color: #293040;
}

/*Body*/

body {
  background-image: url("hermes-rivera-OzBLe_Eg1mg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}


.card {
  color: #b88e2d;
  background-color:#293040;
  text-align: center;
  width: 40%;
  font-family: 'Roboto Condensed', sans-serif;
  border: solid 20px #293040;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 50px;
}

.card-body {
  font-size: 40px;
  background-color: #293040;
  border-radius: 10px;
}

p {
  font-size: 40px;
  color: #ffffff;
}

p.card-title {
  font-size: 40px;
  color: #ffffff;
}

#btn {
  color: #293040;
  background-color: #b88e2d;
  font-size: 20px;
  border-radius: 5px;
  width: 30%;
}

.statement {
  font-size: 20px;
}


/*Footer*/

footer {
  background-color: #293040;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 80px;
}

.container {
  text-align: center;
}

/* Shared */

.btn {
  background-color: #b88e2d;
  color: #293040;
}

.links {
  font-size: 50px;
}
/* Login */

.login {
  color: #b88e2d;
  background-color:#293040;
  text-align: center;
  width: 40%;
  font-family: 'Roboto Condensed', sans-serif;
  border: solid 20px #293040;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

#password-login {
   background-color: #ffffff;
   border-radius: 5px;
}

#username-login {
  background-color: #ffffff;
  border-radius: 5px;
}

/* Sign Up */

.signup {
  color: #b88e2d;
  background-color: #293040;
  text-align: center;
  width: 40%;
  font-family: 'Roboto Condensed', sans-serif;
  border: solid 20px #293040;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

#password-signup {
  background-color: #ffffff;
  border-radius: 5px;
}

#username-signup {
 background-color: #ffffff;
 border-radius: 5px;
}

/* Api */


.api {
  color: #b88e2d;
  background-color:#293040;
  text-align: center;
  width: 80%;
  font-family: 'Roboto Condensed', sans-serif;
  border: solid 20px #293040;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  height: 3000px;
  margin-bottom: 50px;
}


#search {
  background-color: #b88e2d;
  color: #293040;
  border-radius: 5px;
}

#inputName {
  color: #b88e2d;
}

#items {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: 50px;
}

footer {
  padding-top: 30px;
}





  
